<div>
  <div class="socials">
    <a href="https://www.facebook.com/shoonya.ca" target="_blank">
      <div class="social fb"></div
    ></a>
    <a href="https://www.twitter.com/shoonyatech" target="_blank">
      <div class="social twitter"></div
    ></a>
    <a href="https://linkedin.com/company/shoonyatech" target="_blank">
      <div class="social linkedin"></div
    ></a>
    <a href="mailto:contact@shoonya.ca" target="_blank">
      <div class="social email"></div
    ></a>
  </div>
  <shn-copyright></shn-copyright>
</div>
