<div class="page">
  <shn-section title="North Vancouver office" class="address-block">
    <div>Shoonya Technologies Ltd</div>
    <div>1857 Burrill Avenue</div>
    <div>North Vancouver, BC V7K 1M3</div>
    <div>Canada.</div>
    <div>Phone: +1 (778)-939-4992</div>
    <div>Email: contact@shoonya.ca</div>
  </shn-section>
  <shn-section title="India office" class="address-block">
    <div>4 Broad Street</div>
    <div>Kolkata WB 700 019</div>
    <div>India.</div>
    <div>Phone: +91 9731056700</div>
  </shn-section>
</div>
