/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic",'Didact Gothic', "Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura, sans-serif;
  font-size: 24px;
  line-height: 2rem;
  width: 100%;
}

.body-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.page {
  min-height: 670px;
  margin: 40px auto;
}

section {
  margin: 20px;
}

a {
  text-decoration: none;
}
