<div class="page">
  <div class="img-container">
    <img src="/assets/bg.jpg" />
  </div>
  <section>
    We are a Canadian software company based out of Vancouver, BC. Shoonya has
    been started with the prime purpose of getting top talent in local market
    under one roof.
  </section>
  <section>
    Shoonya's focus is on Frontend development and has a team of freelance
    frontend developers who expertise in React, Angular and Vue. Apart from Web
    development we also persue projects on Mobile app development using React
    Native and Flutter.
  </section>
  <section>
    We have conducted numerous corporate training programs on Web Development
    using React and Angular in Vancouver, India and Dubai.
  </section>
  <section>
    Our current clients are based out of Vancouver (Canada), Brisbane
    (Australia), Pune and Bangalore (India), Dubai (UAE) and Shanghai (China).
  </section>
</div>
